header {
    justify-content: center;
}

.modal-wrapper {
    position: absolute;
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.28);
    z-index: -1;
    visibility: hidden;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    
}

.shadow {
    background-color: rgba(0, 0, 0, 0.28);
    overflow: hidden;
    height: 100%;
}


.modal-wrapper--active {
    opacity: 1;
    visibility: visible;
    z-index: 10;
    /*transition: opacity .2s, z-index .2s, visibility .2s;*/
}

.modal {
    width: 512px;
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 12px;
    opacity: 0;
    z-index: -1;

}

.modal--active {
    opacity: 1;
    top: 5%;
    z-index: 10;
    transition: top .25s, opacity .25s, z-index .25s;
}

.modal__exit {
    width: 20px;
    height: 20px;
    background-color: #FF4F4C;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modal__panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__title {
    font-size: 18px;
    color: #009688;
}

.modal__text {
    margin-top: 12px;
    text-align: justify;
}

@media(max-width: 700px) {
    .modal {
        width: 70vw;
    }
}